.country {
    width: 250px;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    border-radius: 0.6rem;
    transition: all 0.3s;
}

.ele{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;

}

.flagsec{

}

.restsec > h3{
 font-size: 21px;
}

.country:hover {
    transform: scale(1.05);
}

.flag {
    width: 12rem;
    height: 7rem;
}

.btn {
    border: none;
    border-radius: 0.6rem;
    padding: 0.6rem;
    cursor: pointer;
    background-color: orange;
    transition: all 0.3s;
    width: 120px;
    display: block;
    margin: auto;
    margin-top: 10px;
}

.btn:hover {
    background-color: red;
    color: white;
}


@media screen and (max-width: 600px) {
    .country {
        width: 170px;
        display: flex;
        justify-content: center;
        padding: 0.5rem;
        align-items: center;
        border-radius: 0.4rem;
        transition: all 0.2s;
    }

    .ele{
        justify-content: space-between;
        gap:5px
    }

    .flag {
        width: 10rem;
        height: 5rem;
    }

    .restsec > h3{
        font-size: 18px;
       }
    
    .btn {
        border: none;
        border-radius: 0.3rem;
        padding: 0.4rem;
        cursor: pointer;
        width: 120px;
        display: block;
        margin: auto;
        margin-top: 5px;
    }
}