input {
  padding: 0.6rem;
  border-radius: 0.6rem;
  width: 20rem;
  font-size: 1.2rem;
}

input:focus {
  background-color: rgb(227, 254, 255);
}

h1 {
  text-align: center;
  font-size: 3rem;
}


.heyClass{
  width:auto;
}


@media only screen and (max-width: 600px) {
  .heyClass{
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;

  }
}