input {
  padding: 0.6rem;
  border-radius: 0.6rem;
  width: 20rem;
  font-size: 1.2rem;
  outline: none;
}

input:focus {
  background-color: rgb(227, 254, 255);
}

h1 {
  text-align: center;
  font-size: 3rem;
}

@media screen and (max-width: 600px) {
  input {
    padding: 0.3rem;
    border-radius: 0.4rem;
    width: 15rem;
    font-size: 1rem;

    margin-bottom: 8px;
  }
  
  input:focus {
    background-color: rgb(227, 254, 255);
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
  }
}
